<div class="container">
    <div class="profile-header">
        <img src="https://cdn.pixabay.com/photo/2023/10/03/10/49/anonymous-8291223_640.png" alt="Foto de Perfil">
        <div>
            <h1>User</h1>
            <p>{{username}}</p>
        </div>
    </div>
    <div class="profile-details">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
        
        <h2>Contact Information</h2>
        <p>Email: {{username}} </p>
        <p>Role(s): {{role}} </p>
    </div>

    
    <button mat-mini-fab routerLink="/pages/dashboard">
        <mat-icon>home</mat-icon>
    </button>
</div>